<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB95MiqGLCcj9lCRHLpFDVl1sMB5Nosi6A</string>
	<key>GCM_SENDER_ID</key>
	<string>280147164745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>site.s-keep.skeep</string>
	<key>PROJECT_ID</key>
	<string>skeep-37b40</string>
	<key>STORAGE_BUCKET</key>
	<string>skeep-37b40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280147164745:ios:046d9d2242c1bcf6344998</string>
</dict>
</plist>